<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="Layout/Plantilla :: header" />
        <h2>Lista de estados</h2>
        <a th:href="@{/nuevoEstado}">Nuevo Estado</a>
        <br/>
        <br/>
        <div th:if="${estados != null and !estados.empty}">
        <table border="1">
            <thead>
            <th>nombreEstado</th>
            <th>nombreCapital</th>
            <th>numPoblacion</th>
            <th>numProvincias</th>
            <th colspan="3">Acciones</th>
            <thead/>
            <tbody>
                <tr th:each="item : ${estados}">
                    <td th:text="${item.nombreEstado}"></td>
                    <td th:text="${item.nombreCapital}"></td>
                    <td th:text="${item.numPoblacion}"></td>
                    <td th:text="${item.numProvincias}"></td>  
                    <td th:href="${/modificarEstado/}+ $ {item.idEstado">Modificar</td>  
                    <td th:href="${/eliminarEstado/}+ $ {item.idEstado">Eliminar</td> 
            <tr/>
            </tbody>
        </table>
            </div>
        <div th:if="${estados == null or estados.empty}">
            La lista esta vacia...
            </div>
        <footer th:replace="Layout/Plantilla :: footer" />
    </body>
</html>

